h1 {
    color: #27aedb;
    text-align: center;
}
body, *{
    margin: 0;
}
body{
    background-color: #f2f5f8;
}
.full-height{
    height: 100vh;
}
.flex-container{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.material-text-header{
    color: rgba(0, 0, 0, .54);
    font-size: 0.75rem;
}
.material-text-normal{
    color: rgba(0, 0, 0, .87);
    font-size: 0.9rem;
}