.navigation-bar{
    width: 350px;
    height: 100%;
    background-color: #222;
    padding-top: 16px;
    box-sizing: border-box;
}
.navigation-bar a{
    text-decoration: none;
    outline: none;
}
.navigation-bar a:hover{
    color: white;
}