.table{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    box-sizing: border-box;
}
.table-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 20px;
    box-sizing: border-box;
}
.table-col{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
    padding-top: 4px;
    padding-bottom: 4px;
}
.table-head{
    height: 56px;
}
.selectable-row{
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}
.selected{
    border: 1px solid rgb(31, 111, 247);
}