.navigation-bar{
    width: 350px;
    height: 100%;
    background-color: #222;
    padding-top: 16px;
    box-sizing: border-box;
}
.navigation-bar a{
    text-decoration: none;
    outline: none;
}
.navigation-bar a:hover{
    color: white;
}

.navigation-item{
    color: #9d9d9d;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 32px;
}
.nav-active{
    background-color: #4189c7;
    color: white;
}